
/* --------Обнуление-------- */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	/*?    text-rendering: optimizeLegibility;  ? FINTD OUT ?   */
	/*?      scroll-behavior: smooth;          */
	scroll-behavior: smooth;
	text-size-adjust: 100%;
	height: 100%;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-family: Roboto, sans-serif;
	
}
/* -----END OF RESET ------------------------------------------ */

/* -----sticky ------------------------------------------ */

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
 }

/*---------Header-notification-----------------------------------------------------*/

.header-notification {
	height: 29px;
	background-color: #000000;
	text-align: center;
}


.header-notification-link  {
	display: inline-block;  /* ? FINTD OUT ? */
	color: #FBFBFB;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 2px;
	padding-top: 7px;    /* ? FINTD OUT ? */
	padding-bottom: 7px;  /* ? FINTD OUT ? */
	transition: color 1s;
}

.header-notification-link:hover {
	color: rgb(28, 227, 101);
	text-decoration: underline;
}

/*---------Header------------------------------------------------------*/
 
.header {
	z-index: 1;
	padding-left: 11px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	background-color:rgba(255, 255, 255, 0.9);
	height: 75px;
	align-items: center;
}

.header-logo-wrapper {
	padding: 15px 11px;
}

.header-logo-link {
	transition: opacity .3s ease-in;
}

.header-logo-link:hover {
	opacity: .7;
}

.header-link {
	color: #000;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 1px;
	transition: color .3s ease-in-out;
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	font-family: Roboto,sans-serif;
}


.header-link:hover {
	color: #ff4a32;
	/* text-decoration: underline; */
}


.left-container {
	display: flex;
	align-items: center;
}

.left-container ul {
	display: flex;
	margin-left: 102px;
}

.left-container li {
	padding: 22px 11px ;
}

.right-container {
	padding-top: 24px;
	padding-bottom: 24px;
}

.header-logo {
	margin-left: 11px;
	width: 200px;
	height: 45px;
}
.user-icon-logo {
	
	margin-right: 10px;
}

/* -------------Hover для SVG -------------*/

.user-icon-logo:hover {
	fill: #ff4a32;
	}
	.user-icon-logo {
		transition: fill .3s ease-in-out;
	}

	.cart-icon:hover {
		fill: red;
	}
	
	.cart-icon {
		transition: fill .3s ease-in-out;
	}

	


/*---------Frist---Banner---------------------------------------------------*/

.first-banner {
	height: 100vh;
	background: url(../img/main-block-img.jpg);
	/* height: calc(100vh - 95px); */
	background-position:  center;
	background-repeat: no-repeat;
	background-size: cover;
}

.first-banner-title {
	padding-top: 53px;
	font-size: 44px;
	line-height: 51px;
	text-align: center;
	color: #000000;
}

.first-banner-subtitle {
	padding-top: 14px;
	text-align: center;
	font-size: 15px;
	line-height: 18.5px;
	letter-spacing: 1px;
}

/* Создаю контейнер оболочку для кнопок  */
.first-banner-buttons-container {
	margin-top: 22px;
	display: flex;
	justify-content: space-around;

}     

/* Делаю из <a> - ССЫЛКИ вид кнопки  */
.first-banner-button-link {
	display: inline-block;
	padding: 5px 47px 5px 47px;
	border-radius: 35px;
	color: #fff;
	background-color: #FF4A32;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	margin-right: 12px;
	text-transform: uppercase;
	transition: background-color .3s ease-in-out;
}

.first-banner-button-link:hover {
	background-color: #606060;
 }





/* 
a.footer-menu-item-link {
	color: black;
	transition: color .3s;
}


.footer-menu-item-link:hover {
	color: #ff4a32;
}




*/







/*---------Сooperation---block---------------------------------------------------*/

.cooperation-block {
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	justify-content: space-around;
	background-color: #000000;
	height: 83px;
	align-items: center;
}
/*---------SECOND---BANNER---------------------------------------------------*/
.second-banner {

}
.second-banner-title {
	line-height: 36px;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	margin-top: 30px;
}
.second-banner-subtitle {
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #000000;
	margin-top: 17px;
}

.second-banner-divider-container {
	display: flex;
	justify-content: center;
	
}
.second-banner-divider {
	margin-top: 25px;
	background: #CFCFCF;
	width: 70px;
	height: 2px;
}

/* --------------- */

.second-banner-blocks-container {
	display: flex;
	margin-top: 45px;

}
.second-banner-left {
	margin-right: 20px;
	margin-left: 130px;
	margin-bottom: 20px;
	width: 580px;
	height: 580px;
	background-image: url(../img/second-banner/img-1.jpg);
	
}
.second-banner-left-img {}

.second-banner-left-logo {
	margin-top: 225px;
	margin-left: 275px;
}

.second-banner-left-title {
	margin-top: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
}
.second-banner-left-sub-title {
	text-align: center;
	color: #FFFFFF;	
	font-size: 18px;
	line-height: 23px;
}

.second-banner-right {
	margin-bottom: 20px;
	width: 580px;
	height: 580px;
	background-image: url(../img/second-banner/img-2.jpg);
}
.second-banner-right-img {}

.second-banner-right-logo {
	margin-top: 225px;
	margin-left: 275px;
}

.second-banner-right-title {
	margin-top: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
}
.second-banner-right-sub-title {
	text-align: center;
	color: #FFFFFF;	
	font-size: 18px;
	line-height: 23px;
}

/*---------THIRD---BANNER---------------------------------------------------*/
.third-banner-container {
	height: 100vh;
	background-image: url(../img/third-banner/pic-1.jpg);
	background-position:  center;
	background-repeat: no-repeat;
	background-size: contain;

}
.third-banner-sub-title-1 {
	padding-top: 44px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 19px;
}
.third-banner-title {
	padding-top: 11px;
	font-size: 45px;
	line-height: 51px;
	text-align: center;
	color: #000000;
}
.third-banner-sub-title-2 {
	padding-top: 15px;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
}


.third-banner-button-container {
	text-align: center
	
}
.third-banner-button {
	font-weight: 700;
	margin-top: 20px;
	background-color: #FF4A32;
	border-radius: 35px;
	height: 33px;
	width: 201px;
}
.third-banner-button-link {
	color: #FFF;
}



/* .third-banner-button-container {
	display: flex;
	justify-content: center;
}
.third-banner-button {
	font-weight: 700;
	margin-top: 20px;
	background-color: #FF4A32;
	border-radius: 35px;
	height: 33px;
	width: 201px;
	line-height: 22px;
}
.third-banner-button-link {
	color: #FFF;
} */

/*---------section---1---------------------------------------------------*/

.section-container {
	display: flex;
}

.element-1 {
	margin: 44px 20px 45px 130px;
	background-image: url(../img/section-1/1.jpg);
	width: 380px;
	height: 380px;
	background-position:  center;
	background-repeat: no-repeat;
	background-size: cover;
}

.element-2 {
	margin: 44px 40px 45px 0px;
	background-image: url(../img/section-1/2.jpg);
	width: 380px;
	height: 380px;
	background-position:  center;
	background-repeat: no-repeat;
	background-size: cover;
}
.element-3 {
}
.element-3-title {
	margin-top: 111px;
	font-size: 32px;
	line-height: 38px;
}
.element-3-subtitle {
	margin-top: 21px;
	font-size: 15px;
	line-height: 22px;
}
.element-3-button {

}
.element-3-button-button {
	margin-top: 18px;
	background: #FF4A32;
	border-radius: 35px;
	height: 33px;
	width: 101px;
}

.element-3-button-link {
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

/*---------section---2---------------------------------------------------*/
.section-2-container {
	display: flex;
}
.card-1,
.card-2,
.card-3 {
	width: 480px;
	height: 480px;
	background-image: url(../img/section-2/1.jpg.jpeg);
	opacity: 0.8;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 55px;
}
.card-1-title,
.card-2-title,
.card-3-title {
	margin-top: 208px;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}
.card-1-subtitle,
.card-2-subtitle,
.card-3-subtitle {
	margin-top: 15px;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}
.card-1-link,
.card-2-link,
.card-3-link {
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
	line-height: 30px;
}

.card-1-subtitle-link, 
.card-2-subtitle-link,
.card-3-subtitle-link {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
	text-align: center;
}

.card-2 {
	background-image: url(../img/section-2/2.jpg.jpeg);
	opacity: 0.8;
	background-position:  center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-3 {
	background-image: url(../img/section-2/3.jpeg);
	opacity: 0.8;
	background-position:  center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*---------section---2---------------------------------------------------*/


.section-video {
	display: flex;
	margin-bottom: 55px;
}
.section-video-left {
	margin-left: 150px;
	margin-right: 20px;
	width: 540px;
	height: 304px;
}
.section-video-right {
	width: 540px;
	height: 304px;
}

/*---------advantages----------------------------------------------------*/

.advantages {
	display: flex;
	justify-content: space-around;
	background-color: black;
	height: 308px;
}

.advantages-item-1 {
	height: 257px;
	width: 330px;
	
}

.advantages-logo {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 5px;

}
.advantages-title {
	font-weight: bold;
	font-size: 31px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 25px;
}
.advantages-subtitle {
	font-weight: 400;
	text-align: center;
	font-size: 15px;
	line-height: 1.5;
   color: #FFFFFF;
}

/*---------footer----------------------------------------------------*/

.footer-container {
	display: flex;
	padding-top: 50px;
	background-color: #f1f1f1;;
	height: 329px;
}
.footer-logo {
	margin-left: 130px;
	margin-right: 240px;
}

.middle {
	width: 380px;
	height: 229px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.middle-title {
	color: #000;
	font-size: 20px;
   font-weight: 600;
	margin-bottom: 10px;
	line-height: 30px;
}


.middle-list-item {
	font-size: 14px;
	line-height: 21px;

}

.right {
	width: 380px;
	height: 229px;
	margin-right: 130px;
	margin-bottom: 20px;
}


.right-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 10px;
	
}

.right-subtitle-1 {
	font-family: Roboto,sans-serif;
   font-weight: 400;
	color: #000;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.5;
}
.right-subtitle-2 {
	padding-top: 19px;
	font-size: 13px;
	line-height: 21px;
	margin-bottom: 20px;
}

/*---------footer----------------------------------------------------*/
.footer-bottom-container {
	background-color: #FFFFFF;
	line-height: 19px;
	height: 70px;
	padding-bottom: 20px;
	padding-top: 20px;
	
}

.footer-bottom-link {
	color: #ff4a32;
}

.footer-menu-item-link {
	font-size: 13px;
	line-height: 21px;
}
.footer-menu-item-link:hover {
	color: #ff4a32;
}

.footer-menu-list {
	font-size: 13px;
	line-height: 21px;

}

.footer-menu-item-link {
	color: black;
	transition: color .3s ease-in-out;
}



.right-title-text {
	font-size: 20px;
	font-weight: 600;
	font-family: Roboto,sans-serif;
}

.right-subtitle-text {
	font-size: 14px;
	line-height: 1.5;
}



/*---------Products------------------------------------------------------*/
.products-container {
	padding-top: 55px;
	height: 615px;
	/* background-color: #fff; */
	background-color: #f5f5f7;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 55px;

}

.img-for-card-1 {
	background-image: url(../img/test/boosted-stealth-bottom_2000x.png);
}
.img-for-card-2 {
	background-image: url(../img/test/boosted-mini-x_1_2000x.png);
}
.img-for-card-3 {
	background-image: url(../img/test/222.png);
}
.img-for-card-1, 
.img-for-card-2, 
.img-for-card-3 {
	background-color: #fff;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 505px;
	width: 404px;
	position: static;
	border-radius: 18px;
	transition: all .3s cubic-bezier(0,0,.5,1);
}
.img-for-card-2:hover {
	transform: scale(1.02);
	/* box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);  Оригинал Apple */ 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img-for-card-1:hover {
		 transform: scale(1.02);
	/* box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);  Оригинал Apple */ 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .img-for-card-3:hover {
	transform: scale(1.02);
	/* box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);  Оригинал Apple */ 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-text-block-for-card_1,
.first-text-block-for-card_2,
.first-text-block-for-card_3 {
	height: 24px;
	padding-left: 30px;
	padding-top: 32px;
	font-size: 12px;
	line-height: 1.33337;
	letter-spacing: -.01em;
	font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 600;
	color: #6e6e73;
}
.second-text-block-for-card_1,
.second-text-block-for-card_2,
.second-text-block-for-card_3 {
	height: 40px;
	padding-left: 30px;
	font-size: 28px;
	line-height: 1.14286;
	font-weight: 600;
	letter-spacing: .007em;
	font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #1d1d1f;
	padding-top: 25px;
	margin-bottom: 18px;
}
.second-text-block-for-card_2 {
	height: 5px;
}

.third-text-block--price-for-card_1,
.third-text-block--price-for-card_2,
.third-text-block--price-for-card_3 {
	padding-top: 42px;
	padding-left: 30px;
	font-size: 17px;
	line-height: 1.23536;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #1d1d1f;
}

.first-text-block-for-card_3,
.second-text-block-for-card_3,
.third-text-block--price-for-card_3 {
  
}







